// Card and Skeleton
.card,
.skeleton {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  max-width: 400px;
  height: 155px;
  margin: 20px;
  border-radius: 10px;
  background-color: #E2E8F0;
  box-shadow:
    0 9px 33px rgba(0, 0, 0, 0.07);
  list-style: none;
}


.card-text, .skeleton-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    margin-left: 10px;
}


.card-img, .skeleton-img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}


.card-description, .skeleton-description{
    margin: 10px 0;
}


.card-link, .skeleton-link{
    margin-top: 20px;
}


.card-skills , .skeleton-skills{
    display: flex;
    justify-content: space-between;
}

// Card only
.card-img{
    background-color: #4F46E5;
}

.card-title{
    font-size: 16px;
    color: #334155;
}

.card-description{
    font-size: 12px;
    color: #64748B;
}

.card-skills .skill {
    font-size: 12px;
    font-weight: 600;
    color: #475569;
}

.card-link{
    font-size: 12px;
    color: #4F46E5;
}

//Skeleton only
.skeleton-img{
    animation: pulse 2s infinite ease-in-out;
}

.skeleton-description span:nth-child(1){
    display: block;
    width: 210px;
    height: 10px;
    background-color: #94A3B8;
}

.skeleton-description span:nth-child(2){
    display: block;
    width: 150px;
    height: 10px;
    background-color: #94A3B8;
    margin-top: 5px;
}

.skeleton-skills .skill{
    width: 65px;
    height: 12px;
    background-color: #94A3B8;
}

.skeleton-link{
    width: 75px;
    height: 12px;
    background-color: #94A3B8;
}

@keyframes pulse {
    0% {
        background-color: #94A3B8;
    }

    50% {
        background-color: #CBD5E1;
    }

    100% {
        background-color: #94A3B8;
    }
}
